<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="Calculator.css" />
</head>
<body>
    <body class="body">
        <div class="calculator">
            <div class="calculator__top">
                <div class="calculator__heading">
                    <h1 class="calculator__title">Calculator</h1>
                </div>
                <div class="calculator__sun-container">
                    <div class="calculator__sun-battery"></div>
                </div>
            </div>

            <div class="calculator__screen-container">
                <input type="text" class="calculator__screen">
            </div>

            <div class="calculator__keyboard">
                <button type="button" class="button">/</button>
                <button type="button" class="button">*</button>
                <button type="button" class="button">+</button>
                <button type="button" class="button">-</button>
                <button type="button" class="button">1</button>
                <button type="button" class="button">2</button>
                <button type="button" class="button">3</button>
                <button type="button" class="button">4</button>
                <button type="button" class="button">5</button>
                <button type="button" class="button">6</button>
                <button type="button" class="button">7</button>
                <button type="button" class="button">8</button>
                <button type="button" class="button">9</button>
                <button type="button" class="button">0</button>
                <button type="button" class="button">=</button>

                <button type="button" class="button">sqrt</button>
                <button type="button" class="button"><</button>
                <button type="button" class="button">%</button>
                <button type="button" class="button">C</button>
            </div>

        </div>
    </body>
</body>
</html>